<div class="card">
    <div class="card-body">
        <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="radioSeleccionado"  
            type="radio" name="sexo" id="todos" value="Todos" (change)="emitirCambioRadioButton()">
            <label class="form-check-label" for="todos">Todos({{todos}})</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="radioSeleccionado"
            type="radio" name="sexo" id="femenino" value="Femenino" (change)="emitirCambioRadioButton()">
            <label class="form-check-label" for="femenino">Femenino({{ femenino }})</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" [(ngModel)]="radioSeleccionado"
            type="radio" name="sexo" id="masculino" value="Masculino" (change)="emitirCambioRadioButton()">
            <label class="form-check-label" for="masculino">Masculino( {{ masculino }} )</label>
          </div>
    </div>
</div>