<div class="container mt-3">
    <app-count-empleados 
      [todos]="obtenerTotalEmpleados()"
      [masculino]="obtenerTotalMasc()"
      [femenino]="obtenerTotalFem()"
      (emitirRadioSeleccionado)="empleadoRadioButtonChange($event)"
    ></app-count-empleados>
    <div class="card mt-3">
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th>Legajo</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>Salario</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let item of listaEmpleados">
                    <tr *ngIf="radioSeleccionado == 'Todos' || radioSeleccionado == item.sexo">
                        <td>{{ item.legajo }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.apellido }}</td>
                        <td>{{ item.sexo }}</td>
                        <td>{{ item.salario | currency }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
        </div>
    </div>
</div>
